# IDE
.idea/
*.iml


# Build artifacts
target/
allure-results/

# Logs
*.log

# Secrets (никогда в репо)
src/**/secrets.properties
.env

# Drivers и временные тестовые данные
src/lib/geckodriver.exe
src/test/resources/*.csv
